.game--memory-game {
  $level_easy: lightslategray;
  $level_hard: lightseagreen;
  $level_harder: lightcoral;

  .level {
    padding: 5px;
    padding-bottom: 15px;

    strong {
      margin-right: 10px;
    }

    select {
      color: white;
      background-color: $level_easy;
    }
  }

  .level,
  .cards {
    max-width: 480px;
    margin: 0 auto;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .item {
      display: flex;
      justify-content: center;
      padding: 5px;

      .face,
      .back {
        width: 70px;
        height: 70px;
      }

      .face {
        position: absolute;
        transform: rotateY(90deg);
        transition: all ease-in 0.25s;
      }

      .back {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $level_easy;
        border: 1px solid darkslategrey;
        transition: all ease-in 0.25s;
        transition-delay: 0.25s;

        img {
          height: 40px;
          opacity: 0.3;
        }
      }
    }

    .toggled {
      .face {
        transform: rotateY(0deg);
        transition-delay: 0.25s;
      }

      .back {
        transform: rotateY(90deg);
        transition-delay: 0s;
      }
    }
  }

  .message {
    padding-top: 15px;
  }

  .loading {
    padding-top: 30px;
  }

  &.tiles-18 {
    .level {
      select {
        background-color: $level_hard;
      }
    }
    .cards {
      .back {
        background-color: $level_hard;
      }
    }
  }

  &.tiles-24 {
    .level,
    .cards {
      max-width: 640px;
    }

    .level {
      select {
        background-color: $level_harder;
      }
    }
    .cards {
      .back {
        background-color: $level_harder;
      }
    }
  }
}
