.loadmore-data {
  $gap: 10px;
  padding-bottom: 20px;

  .products {
    display: flex;
    gap: $gap;
    flex-wrap: wrap;

    .item {
      flex: calc(25% - $gap);
      padding: 20px;
      border: 1px solid lightslategray;

      @media screen and (max-width: 800px) {
        flex: calc(50% - $gap);
      }

      @media screen and (max-width: 400px) {
        flex: 100%;
      }

      p {
        padding-top: 10px;
      }
    }
  }

  .total {
    font-size: 1.3em;
    font-weight: 700;
    padding: 30px 0;

    span {
      color: white;
      background-color: red;
      padding: 0 5px;
    }
  }
}
