.scroll-indicator {
  .indicator {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 22px;
    background-color: limegreen;

    &.sticky {
      position: fixed;
    }

    .progressbar {
      position: relative;
      background-color: purple;
      height: 100%;
      span {
        display: block;
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        font-size: small;
        font-weight: 700;
        color: white;
      }
    }
  }

  ul {
    li {
      padding: 5px 0;
    }
  }
}
